{% extends 'base.html.twig' %}

{% block title %}Armes
{% endblock %}

{% block monTitre %}
Liste des armes
{% endblock %}

{% block body %}

{% for arme in armes %}
<div class="row">
    <div class="col-2">
        <img src="{{ asset('/images/armes/' ~ arme.nom|replace({'é':'e'})  ~ '.png') }}"></div>
    <div class="col">
        <a href="{{ path('afficher_arme', {'nom' : arme.nom|replace({'é':'e'}) }) }}">{{arme.nom}}</a>
    </div>
</div>
{% endfor %}
</table>
{% endblock %}