{% extends 'base.html.twig' %}

{% block title %}Arme
{% endblock %}
{% block monTitre %}
Arme {{ arme.nom }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-2">
        <img src="{{asset('images/armes/' ~ arme.nom|replace({'é':'e'}) ~ '.png')}}">
    </div>
    <div class="col">
        <p>{{ arme.description }}</p>
        <p clas="text-gray">Dégât: {{arme.degat}}</p>
    </div>
</div>
{% endblock %}